div.expense-header,
div.expense-row {
  display: table;
  table-layout: fixed;
  width: 100%;
  text-align: center;
}

div.expense-header span,
div.expense-row span {
  display: table-cell;
  text-align: center;
}
